{% load static %}
    <!-- Library Bundle Script -->
    <script src="{% static 'core/assets/js/core/libs.min.js' %}"></script>
    
    <!-- External Library Bundle Script -->
    <script src="{% static 'core/assets/js/core/external.min.js' %}"></script>
    
    <!-- Widgetchart Script -->
    <script src="{% static 'core/assets/js/charts/widgetcharts.js' %}"></script>
    
    <!-- mapchart Script -->
    <script src="{% static 'core/assets/js/charts/vectore-chart.js' %}"></script>
    <script src="{% static 'core/assets/js/charts/dashboard.js' %}"></script>
    
    <!-- fslightbox Script -->
    <script src="{% static 'core/assets/js/plugins/fslightbox.js' %}"></script>
    
    <!-- Settings Script -->
    <script src="{% static 'core/assets/js/plugins/setting.js' %}"></script>
    
    <!-- Slider-tab Script -->
    <script src="{% static 'core/assets/js/plugins/slider-tabs.js"></script>
    
    <!-- Form Wizard Script -->
    <script src="{% static 'core/assets/js/plugins/form-wizard.js' %}"></script>
    
    <!-- AOS Animation Plugin-->
    <script src="{% static 'core/assets/vendor/aos/dist/aos.js' %}"></script>
    
    <!-- App Script -->
    <script src="{% static 'core/assets/js/hope-ui.js' %}" defer></script>